<div class="cv-container">
  <h1>{{ currentLanguage === "de" ? "Lebenslauf" : "Curriculum Vitae" }}</h1>
  <button class="language-toggle" (click)="toggleLanguage()">
    {{ currentLanguage === "de" ? "EN" : "DE" }}
  </button>
  <div class="cv-content">
    <h2>
      {{
        currentLanguage === "de" ? "Beruf & Praktikas" : "Career & Internships"
      }}
    </h2>
    <ul>
      <li>
        {{
          currentLanguage === "de"
            ? "November 2011 (2 Wochen)"
            : "November 2011 (2 weeks)"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Schülerpraktikum, Merck KGaA, im Bereich Technik"
            : "Student Internship, Merck KGaA, in the field of Technology"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "März 2012 (2 Wochen)"
            : "March 2012 (2 weeks)"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Schülerpraktikum, Evonik Industries AG, als Industriemechaniker"
            : "Student Internship, Evonik Industries AG, as an Industrial Mechanic"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "August 2013 - Januar 2018"
            : "August 2013 - January 2018"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Aushilfskraft, SSG Starkenburg Service GmbH, als Reinigungskraft"
            : "Temporary Employee, SSG Starkenburg Service GmbH, as a Cleaner"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "April 2014 (2 Wochen)"
            : "April 2014 (2 weeks)"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Schülerpraktikum, Klinikum Darmstadt GmbH, im Pflegedienst"
            : "Student Internship, Klinikum Darmstadt GmbH, in the Nursing Department"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "März 2021 (9 Wochen)"
            : "March 2021 (9 weeks)"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Praxisphase, basysKom GmbH, als Software Engineer für Webtechnologien (Frontend & Backend)"
            : "Practical Phase, basysKom GmbH, as a Software Engineer for Web Technologies (Frontend & Backend)"
        }}
      </li>
      <li>
        {{ currentLanguage === "de" ? "Laufend" : "Ongoing" }} -
        {{
          currentLanguage === "de"
            ? "Gehilfe bei Smaydo (Inh. Mehmet Aydogan)"
            : "Assistant at Smaydo (Owner: Mehmet Aydogan)"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Verwaltung von JTL, Kundenberatung, Buchhaltung, Wartung der Website"
            : "JTL Management, Customer Consulting, Bookkeeping, Website Maintenance"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "Seit ca. 2 Jahren"
            : "Since approximately 2 years"
        }}
        -
        {{
          currentLanguage === "de"
            ? "Angular-Entwickler, basysKom GmbH"
            : "Angular Developer, basysKom GmbH"
        }}
      </li>
    </ul>

    <h2>{{ currentLanguage === "de" ? "Kenntnisse" : "Skills" }}</h2>
    <h3>{{ currentLanguage === "de" ? "Sprachen" : "Languages" }}</h3>
    <ul>
      <li>
        {{
          currentLanguage === "de"
            ? "Deutsch und Türkisch (Muttersprache)"
            : "German and Turkish (Native)"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de" ? "Englisch (gut)" : "English (Proficient)"
        }}
      </li>
    </ul>

    <h3>{{ currentLanguage === "de" ? "IT-Kenntnisse" : "IT Skills" }}</h3>
    <ul>
      <li>
        {{
          currentLanguage === "de"
            ? "Gute Kenntnisse in Java und grundlegende Kenntnisse in C++ durch Module in der Hochschule"
            : "Good knowledge of Java and basic knowledge of C++ through modules at the university"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "Sehr gute Kenntnisse in der Webentwicklung (REST, TypeScript, JavaScript, HTML, CSS, SCSS, API, Datenbanken)"
            : "Very good knowledge in web development (REST, TypeScript, JavaScript, HTML, CSS, SCSS, API, databases)"
        }}
      </li>
      <li>
        {{
          currentLanguage === "de"
            ? "Grundlegende Kenntnisse der Structured Query Language"
            : "Basic knowledge of Structured Query Language"
        }}
      </li>
    </ul>
  </div>
</div>
