<div class="container">
  <div class="title big-container">
    <h1>
      Hi,<br />
      I'm Feridun,<br />
      I develop applications<br />
    </h1>
    <h2>Software Developer / Angular Expert</h2>
    <div id="techStackIcons">
      <h3>Tech Stack :</h3>
      <img class="stackIcon" src="../../assets/techStack/angular.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/js.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/typescript.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/html5.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/css.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/postfresql.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/nestjs.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/sass.svg" alt="" />
      <img class="stackIcon" src="../../assets/techStack/bootstrap5.svg" alt="" />
    </div>
  </div>
</div>
