<div class="portfolio">
  <h1>My projects to date</h1>
  <div class="projects">
    <div class="project">
      <img src="../../assets/NFTsmall.png" alt="Project 1" />
      <div href="#" class="project-details">
        <h2>Advanced Studios</h2>
        <p>
          Developing an NFT website in the frontend has been an exhilarating
          journey, involving learning blockchain technology, implementing smart
          contracts, and integrating wallets and NFT marketplaces. It has
          allowed me to showcase unique digital assets and participate in the
          emerging NFT market while focusing on security, user-friendliness, and
          seamless crypto payment integration.
        </p>
        <a href="#">View Project</a>
      </div>
    </div>
    <div class="project smaydo">
      <img src="../../assets/smaydo.png" alt="Project 2" />
      <div href="#" class="project-details">
        <h2>Smaydo</h2>
        <p>
          Creating a webshop for a computer hardware business using WordPress
          was a rewarding experience. It allowed me to leverage the flexibility
          and extensive plugin ecosystem of WordPress to design a user-friendly
          and feature-rich online store, catering to the specific needs of the
          computer hardware industry.
        </p>
        <a href="#">View Project</a>
      </div>
    </div>
    <div class="project">
      <img src="project3.jpg" alt="Project 3" />
      <div class="project-details">
        <h2>Planner for Eye Surgery</h2>
        <p>
          Developing an eye surgery scheduler using Angular for a well-known
          company was an exciting and rewarding endeavor. While there were some
          challenges, the process of seamlessly processing and storing
          parameters and developing a comprehensive planning tool tailored to
          the complicated needs of eye surgery was both intellectually
          stimulating and personally satisfying.
        </p>
        <a href="#">View Project</a>
      </div>
    </div>
  </div>
</div>
