@use "../styles.scss";

header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.title {
  color: styles.$color-blue;
  font-size: 4rem;
  line-height: 1;
  opacity: 0;
  transform: translateX(100%);
  text-transform: uppercase;
  user-select: none;
  animation: slideIn 5s ease forwards, flickering 5s linear forwards;
}

@keyframes flickering {
  0%,
  15%,
  20%,
  25%,
  30%,
  35%,
  40%,
  45%,
  50%,
  55%,
  60%,
  65%,
  70%,
  75%,
  80%,
  85%,
  90%,
  95%,
  99% {
    color: styles.$color-gray;
    text-shadow: none;
  }
  @for $i from 1 through 99 {
    $rand: random(100);
    #{"#{$rand}%"} {
      color: styles.$color-white;
      text-shadow: 0 0 10px styles.$color-blue, 0 0 20px styles.$color-blue,
        0 0 40px styles.$color-blue;
    }
  }
  100% {
    color: styles.$color-white;
    text-shadow: 0 0 10px styles.$color-blue, 0 0 20px styles.$color-blue,
      0 0 40px styles.$color-blue;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.glass {
  position: absolute;
  padding-right: 45px;
  top: 0;
  left: 0;
  display: flex;
  height: 10vh;
  width: 100%;
  overflow: hidden;
}

.glass .layer {
  width: calc(100vw / 30);
  height: 100%;
  margin: 0 calc(1vw / 30);
  box-shadow: 0 5px 25px rgba(styles.$color-black, 0.15);
  backdrop-filter: blur(30px);
  user-select: none;
  z-index: -1;
}

.glass .layer:nth-child(8n + 1) {
  backdrop-filter: blur(10px);
}
.glass .layer:nth-child(8n + 2) {
  backdrop-filter: blur(50px);
}
.glass .layer:nth-child(8n + 3) {
  backdrop-filter: blur(30px);
}
.glass .layer:nth-child(8n + 4) {
  backdrop-filter: blur(20px);
}
.glass .layer:nth-child(8n + 5) {
  backdrop-filter: blur(40px);
}
.glass .layer:nth-child(8n + 6) {
  backdrop-filter: blur(30px);
}
.glass .layer:nth-child(8n + 7) {
  backdrop-filter: blur(60px);
}
.glass .layer:nth-child(8n + 8) {
  backdrop-filter: blur(20px);
}

//rain
.drop {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: styles.$color-blue;
  animation: drop-fall 1s linear infinite;
  animation-fill-mode: both;
  z-index: -2;
}

@keyframes drop-fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%) rotate(10deg);
    opacity: 0;
  }
}
