<nav class="navigation">
  <ul>
    <li>
      <a matTooltip="Home Screen" [routerLink]="['/home']"
        ><img src="../../assets/home.svg" alt="Projects"
      /></a>
    </li>
    <li>
      <a matTooltip="Projects" [routerLink]="['/projects']"
        ><img class="smaydo" src="../../assets/programming.svg" alt="Projects"
      /></a>
    </li>
    <li>
      <a matTooltip="CV" [routerLink]="['/cv']"><img src="../../assets/cv.svg" alt="CV" /></a>
    </li>
    <li>
      <a matTooltip="Contact me!" [routerLink]="['/contactMe']"
        ><img src="../../assets/mail.svg" alt="Mail"
      /></a>
    </li>
  </ul>
</nav>
