/* You can add global styles to this file, and also import other style files */
$color-black: #222831;
$color-gray: #393E46;
$color-blue: #00ADB5;
$color-white: #EEEEEE;

* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $color-black;
    color: $color-white;
    overflow: hidden;
}
