@use '@angular/material' as mat;

@include mat.core();

$Portfolio-primary: mat.define-palette(mat.$indigo-palette);
$Portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Portfolio-warn: mat.define-palette(mat.$red-palette);
$Portfolio-theme: mat.define-light-theme((
  color: (
    primary: $Portfolio-primary,
    accent: $Portfolio-accent,
    warn: $Portfolio-warn,
  )
));
@include mat.all-component-themes($Portfolio-theme);

$color-black: #222831;
$color-gray: #393e46;
$color-blue: #00adb5;
$color-white: #eeeeee;
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/Comfortaa/static/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/Comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
}
app-root {
  width: 90%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  margin: 0;
  background-color: $color-black;
  color: $color-white;
  z-index: -1;
  overflow: hidden;
}

.transparent-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
canvas {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: -2;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-moz-scrollbar {
  width: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.info-tooltip {
  width: unset !important;
  white-space: pre-wrap;
}